/* #products {

} */
#topdeals .prod, #products .prod{
	text-align: center;
	float: left;
	width: 230px;
	border: 1px solid black;
	padding: 15px;
    margin-right: 5px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    margin-bottom: 5px;
    
}


#products .img, #topdeals .img{
    padding: 5px;
    width: 180px;
    height: 200px;
}
#products .title, #topdeals .title{
	padding: 5px;
    color: rgb(251, 251, 251);
    font-size: 0.50em;
}
#products .cat, #topdeals .cat{
	padding: 5px;
    color: grey;
    font-size: 0.50em;
}
#products .price, #topdeals .price{
	padding: 5px;
    color: rgb(246, 228, 225);
    font-size: 0.50em;
}

.clear{
	clear: both;
}

.product-title
{
    text-align: center;
    font-size: 3em;
    font-weight: 100;
    font-family: cursive;
}